{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static "styles/login.css"%}">
    <title>SISTEMA</title>
  </head>
  <body>
    <div class="background-main">
      <div class="login-container">
        <div class="img-container">
          <img src="{% static "images/gilda.png" %}" alt="" />
        </div>
        <form class="data-container" action="{}" method="post">
          <label>Usuario:</label>
          <input type="text" name="userValue" />
          <label>Contraseña:</label>
          <input type="password" name="passValue" />
          <button type="submit">ENVIAR</button>
        </form>
      </div>
    </div>
  </body>
</html>
