{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'styles.css'%}" />
    <title>MACAAL</title>
  </head>
  <body>
    {% include "layouts/header.html" %}
    <div class="main">
      <h2>HOLA A TODOS</h2>
    </div>
    <div class="footer">
      <ul>
        <li>Todos los derechos reservados</li>
        <li>Nada más etc</li>
        <li>Hola que hac</li>
      </ul>
    </div>
  </body>
</html>
